<html>
<div style="background-image: url('brick.jpg');">

    <body style="background-color: chocolate;">

        <h> About Me</h>
        <p> My name is Tangee. I graduted from college on May 11th with a B.S in Computer Science</p>



</div>
</body>

</html>