<html>
<div style="background-image: url('brick.jpg');">

    <style>
        body {
            background-image: url('https://cdn-ep19.pressidium.com/wp-content/uploads/2019/07/photography-aesthetic-bridge-landscape-at-blue-hour.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <h> About Me</h>
    <p> My name is Tangee. I graduted from college on May 11th with a B.S in Computer Science</p>



</div>

</html>