<html>
<link rel="stylesheet" type="text/css" href="assets/style.css">

<title> About Me</title>
<div style="background-image: url('brick.jpg');"></div>
<center></center>

<style>
    body {
        background-image: url(assets/pinkwall.jpg);
        /* background-image: url('http://linda-hoang.com/wp-content/uploads/2017/06/Instagrammable-Wall-Pink-Wall-Downtown-1024x768.jpg'); */
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div>
    <center>
        <img src="assets/girl.png" class="image2">
        <div>
            <h> About Me</h>
        </div>
        <p> My name is Tangee Beverly. I graduted from Elizabeth City State University on May 11th with a B.S in Computer Science. I have 2 sisters and 2 brothers. </p>
    </center>
</div>




<center><button class="button" style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/">Home</a></button> </center>

</html>