<html>
<link rel="stylesheet" type="text/css" href="assets/style.css">

<head>
    <title>Contact Form </title>

</head>

<style>
    body {
        background-image: url('http://linda-hoang.com/wp-content/uploads/2017/06/Instagrammable-Wall-Pink-Wall-Downtown-1024x768.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<body style="background-color: chocolate; ">

    <center>
        <h2>Contact Form</h2>
        <!-- Required Div Starts Here -->
        <form action="/contact" type="text" method="post">
            <label>First Name: <span>*</span></label>
            <input type="text " name="firstname" placeholder="First Name " required />

            <label>Last Name: <span>*</span></label>
            <input type="text " name="lastname" placeholder="Last Name" requireed/>

            <label>Email: <span>*</span></label>
            <input type="text " name="email" placeholder="Email" requireed/>


            <label for="msg">Message:</label>
            <div> <textarea name="user_message" placeholder="Type a message"></textarea></div>
            <button class="button" style="background-color: rgba(218, 85, 206, 0.63);" type="submit" id="submitBTN"> Submit Form</button>
        </form>

        <form method="POST" action="/api/images" enctype="multipart/form-data">
            <input type="file" name="imgUploader" />
            <input type="submit" />
        </form>


        <button class="button" style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/">Home</a></button>
    </center>

</body>

</html>