<html>

<head>



    <style>
        body {
            background-image: url('https://cdn-ep19.pressidium.com/wp-content/uploads/2019/07/photography-aesthetic-bridge-landscape-at-blue-hour.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <h> My family!</h>



    <div>
        <button type="button" onclick="alert('My first brother!')">Jaylin!</button>
        <button type="button" onclick="alert('My first sister!')">Kayla!</button>
        <button type="button" onclick="alert('My second sister!')">TeeTee!</button>
        <button type="button" onclick="alert('My second brother!')">Jah'King!</button>
    </div>



</head>

</html>