<html>
<title> Family Details</title>

<head>
    <style>
        body {
            background-image: url('https://cdn-ep19.pressidium.com/wp-content/uploads/2019/07/photography-aesthetic-bridge-landscape-at-blue-hour.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


    <body>
        <center>
            <%= person.name %>
                <%= person.age %>


        </center>
        <center> <button style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/">Home</a></button></center>
    </body>
</head>

</html>