<html>
<title>Family Page </title>

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#submitBTN").click(function() {
                $("#myForm").submit();

            });
        });
    </script>



    <style>
        body {
            background-image: url('http://linda-hoang.com/wp-content/uploads/2017/06/Instagrammable-Wall-Pink-Wall-Downtown-1024x768.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <html>
    <center>


        <form action="/family" type="text" method="post" id="myForm">
            <select name="droplistname"> 
            <option value="" >Select my fam member</option>
            <% for(var i=0; i < flist.length; i++) { %>
                <% var output = flist[i].name; %> 
                <option value="<%= output %>"><%= output%></option>
            <%}%> 
        </select>
            <button style="background-color: rgba(218, 85, 206, 0.63);" type="button" id="submitBTN"> Submit Form</button>
    </center>
    </form>

    <center> <button style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/">Home</a></button></center>








    </html>