<html>

<head>

    <body style="background-color: chocolate;">


        <h> My family!
        </h>



        <div>
            <button type="button" onclick="alert('My first brother!')">Jaylin!</button>
            <button type="button" onclick="alert('My first sister!')">Kayla!</button>
            <button type="button" onclick="alert('My second sister!')">TeeTee!</button>
            <button type="button" onclick="alert('My second brother!')">Jah'King!</button>
        </div>




</html>
</body>
</head>