<html>


<style>
    body {
        background-image: url('https://cdn-ep19.pressidium.com/wp-content/uploads/2019/07/photography-aesthetic-bridge-landscape-at-blue-hour.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h> Favorites</h>

<ul>
    <li>Movies</li>
    <li>Comic Book</li>
    <li>Music</li>
    <li>Sleep</li>
</ul>


</html>