<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-image: url('https://cdn-ep19.pressidium.com/wp-content/uploads/2019/07/photography-aesthetic-bridge-landscape-at-blue-hour.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<h>Welcome</h>
</head>


<div>
    <button> <a href="/aboutme">About me</a></button>
    <button> <a href="/Family">Family</a></button>
    <button> <a href="/Favorites">Favorites</a></button>
    <button> <a href="/contactme">Contact me</a></button>
</div>


</body>

</html>