<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="assets/style.css">
<title>Home Page </title>
<style>
    body {
        /* background-image: url(assets/pinkwall.jpg); */
        background-image: url('http://linda-hoang.com/wp-content/uploads/2017/06/Instagrammable-Wall-Pink-Wall-Downtown-1024x768.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<body>
    <div class="fixed-header">
        <center>
            <p>Tangee Beverly</p>
        </center>
    </div>

    <div>
        <center> <img src="assets/welcome.png">


            <div>
                <button class="button" style="background-color: rgba(204, 121, 197, 0.856);"> <a href="/aboutme">About me</a></button>
                <button class="button" style="background-color: rgba(179, 93, 171, 0.925);"><a href=" /Family ">Family</a></button>
                <button class="button" style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/Favorites">Favorites</a></button>
                <button class="button" style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/contact">Contact me</a></button>
                <button class="button" style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/output">Output</a></button>
            </div>


        </center>
        <div class="footer">
            <p>Tangee Beverly</p>
        </div>

</body>

</html>