<!DOCTYPE html>
<html lang="en">
<title>Home Page </title>
<style>
    body {
        background-image: url('http://linda-hoang.com/wp-content/uploads/2017/06/Instagrammable-Wall-Pink-Wall-Downtown-1024x768.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
    <center>
        <h2> Welcome</h2>


        <div>
            <button style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/aboutme">About me</a></button>
            <button style="background-color: rgba(218, 85, 206, 0.63);"><a href=" /Family ">Family</a></button>
            <button style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/Favorites">Favorites</a></button>
            <button style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/contact">Contact me</a></button>
            <button style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/output">Output</a></button>
        </div>
    </center>

</body>

</html>