<html>

<title>Contact List</title>
<style>
    body {
        background-image: url('http://linda-hoang.com/wp-content/uploads/2017/06/Instagrammable-Wall-Pink-Wall-Downtown-1024x768.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<center>
    <h>My Contact List</h>
</center>

<table style="width:100%">

    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
    </tr>

    <% for(var i=0; i < myresult.length; i++) { %>
        <tr>
            <td>
                <center>
                    <%= myresult[i].FirstName; %>
                </center>
            </td>

            <td>
                <center>
                    <%= myresult[i].LastName; %>
                </center>
            </td>

            <td>
                <center>
                    <%= myresult[i].Email; %>
                </center>
            </td>
        </tr>

        <% } %>

</table>
<div>
    <center> <button style="background-color: rgba(218, 85, 206, 0.63);"> <a href="/">Home</a></button></center>
</div>


</html>